@font-face {
    font-family: "Noto Sans";
    src: url("https://fonts.googleapis.com/css?family=Noto+Sans");
}

html {
    font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
    font-size: 10px;
    font-weight: 400;
    overflow-x: hidden
}
html.fonts-loading {
    font-family: sans-serif
}
h1, h2, h3, h4, h5, h6 {
     font-weight: 400
 }
p {
    margin-bottom: 10px;
    line-height: 26px
}
 h1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700
}
 h2 {
    font-size: 18px;
    padding-bottom: 10px
}
.header a{
    color: #f1868a;
}
.background-menu{
    background: #f2f2f2;
}
.menu-destop li a{
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
}

.menu-destop li:hover {
    border-bottom: 3px solid #f1868a;
    margin-bottom: -3px;
}
.background-header{
    background: linear-gradient(270deg,#F62459 0,#E08283 100%);
}
.logo-begido{
    width: 100px;
    height: 33px;
}
.header{
    padding-top: 10px;
    padding-bottom: 5px;
}
.border-header{
    border-bottom: 1px solid #d5d5d5;
}
.open-sidebar{
    cursor: context-menu;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
}
.footer{
    height: 100%;
    background: #f2f2f2;
}
.footer .container{
    padding-top: 25px;
}
.ve-chung-toi {
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
}
@media (min-width: 0px) {
    amp-sidebar {
        width: 300px;
        padding-right: 10px;
    }
    .amp-sidebar-image {
        line-height: 100px;
        vertical-align:middle;
    }
    .amp-close-image {
        top: 15px;
        left: 265px;
        cursor: pointer;
    }
    .menu-mobile li {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        list-style: none;
    }
    .menu-mobile li a{
        text-decoration: none;
    }
    .menu-destop, .search-icon{
        display: none;
    }
    .open-sidebar{
        display: block;
        float: right;
        margin-top: 15px;
        margin-right: 8px;
    }
    .header{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo-begido {
        width: 100px;
        height: 33px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
@media (min-width: 960px) {
    .menu-destop {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        z-index: 999;
    }
    .menu-destop li {
        display: block;
        position: relative;
        float: left;
    }
    .menu-destop li ul {
        display: none;
        z-index: 999;
    }
    .menu-destop li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        white-space: nowrap;
        color: #333333;
        font-size: 15px;
        font-weight: bold;
    }
    .menu-destop li a:hover {
        color: #333333;
    }
    .menu-destop li:hover > ul {
        display: block;
        position: absolute;
    }
    .menu-destop li:hover li {
        float: none;
        border-radius: 2px;
    }
    .menu-destop li:hover a { background: #fff; }
    .menu-destop li:hover li a:hover { background: #fff; }
    .menu-destop li ul li {
        border-top: 0;
        border-radius: 2px;
        padding: 2px 10px;
    }
    .menu-destop ul ul {
        left: 100%;
        top: 0;
    }
    .menu-destop ul:before,
    .menu-destop ul:after {
        content: " ";
        display: table;
    }
    .open-sidebar{
        display: none;
        margin-top: 20px;
    }
    .search-icon{
        float: right;
        display: block;
        margin-top: 17px;
    }
}
