.container-fluid{
    padding: 0px 5px;
}
.row{
    margin: 0px -5px;
}
dl, ol, ul {
    margin: 0px;
    padding: 0px;
}
p {
    margin-top: 0;
    margin-bottom: 5px;
}
img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 3px 0px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 0px solid #ddd;
}
.breadcrumb {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #fff;
    border-radius: .25rem;
}
.table td, .table th {
    padding: 6px;
    vertical-align: top;
    border-top: 1px solid #eceeef;
    font-size: 15px;
}
.breadcrumb li{
    font-size: 12px;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    color: #636c72;
    content: url(../cdn/next.png);
    height: 10px;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}