
.khoi-gioi-thieu h3 {
    font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-decoration: none solid rgb(8, 106, 135);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;

}

.khoi-gioi-thieu p {
    font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
}

.anh-gioi-thieu {
    float:left;
    border-radius: 50%;
    margin-right:20px;
}

.danh-sach-tin-tuc img {
    width: 100%;
}

.danh-sach-tin-tuc .tren {
    position: relative;
}

.danh-sach-tin-tuc .mot-tin {
    margin-bottom: 50px;
}

.tieu-de-lon a {
    font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(241, 134, 138);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    color :#ef4066;

}
.danh-sach-tin-tuc .tieu-de {
    bottom: 0px;
    position: absolute;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    color: #fff;
    background: linear-gradient(0deg, #000 0, transparent 100%);
    width: 100%;
    font-size: 14px;
    white-space: normal;
    word-spacing: 0px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 0px;
}

.danh-sach-tin-tuc .duoi .thong-tin {
    color: #333;
    margin-bottom: 10px;
    display: block;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(102, 102, 102);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    padding: 5px 0px;

}

.danh-sach-tin-tuc .duoi .noi-dung-chi-tiet {
    margin-top: 7px;
}



.danh-sach-tin-tuc .duoi .noi-dung-chi-tiet  a{
    margin: 0;
    padding: 0;
    color: #333;
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
}

.gioi-thieu {
    padding-top: 20px;
    padding-bottom: 20px;
}

.gioi-thieu .khoi-gioi-thieu {
    padding-bottom: 30px;
}

.gioi-thieu .hinh-anh img{
    width: 100%;
    height: 100%;
    padding-right:13px;
}

.gioi-thieu .tieu-de {
    font-size: 20px;
    font-weight: 600;
    display:block;
    margin-bottom:10px;
}

.gioi-thieu .de-nghi {
    margin-top: 20px;
}

.khoi-tieu-de-lon {
    margin-bottom:30px;
}

.noi-dung-them .noi-dung {
    font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
}

.noi-dung-them h2 {
    font-family: "Noto Sans", "Noto Sans Thai", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-decoration: none solid rgb(8, 106, 135);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    color :#ef4066;
}

.danh-muc-lien-quan {
    margin-bottom: 50px;
}

.danh-muc-lien-quan img {
    width: 100%;
    margin-bottom: 10px;
    padding:5px;
}

.noi-dung-danh-muc {
    font-size:14px;
}

.noi-dung-them {
    color: #333;
    margin-bottom: 50px;
}

@media (min-width: 576px) and (max-width:992px) {
    .danh-sach-tin-tuc .tieu-de {
        font-size:12px;
    }
}

@media (max-width: 576px) {
    .danh-sach-tin-tuc .mot-tin {
        margin-bottom: 30px;
    }
}


