* {
    font-family: "Noto Sans", "Noto Sans Thai";
}
.header-top, .header-content, .header-menu{
    padding: 7px 75px;
    background: #007ee5;
    width: 100%;
}
.header-menu{
    margin-top: -5px;
    width: auto;
    padding: 0px 75px;
}
.danh-muc-trai li, .danh-muc-phai li{
    display: inline;
    margin-right: 10px;
    color: #fff;
}
.danh-muc-trai li a, .danh-muc-phai li a{
    text-decoration: none;
    font-size: 13px;
    color: #fff;
}
.danh-muc-phai li a span{
    font-size: 20px;
    top: 2px;
    position: relative;
}
.logo{
    top: -8px;
    width: 160px;
    position: relative;
}
.txt-search{
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 2px;
    font-size: 13px;
    padding: 11px;
}
.search-input-group .input-group-addon{
    background: white !important;
    background-color: #fff;
    border: 0px solid rgba(0,0,0,.15);
    border-right-radius: 2px;
}
.search-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#fff;
}
.search-input-group button{
    border:0;
    background:transparent;
}
.search-input-group button span{
    top: 11px;
    right: 13px;
    display: block;
    position: absolute;
}
.tu-van {
    margin-left: 20px;
}
.tu-van li{
    display: inline-grid;
    font-size: 13px;
    color: #fff;
    margin-right: 10px;
}
.tu-van li b{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.cang-le{
    padding: 5px 70px 5px 70px;
}
.cang-le-slide{
    padding: 5px 75px 5px 75px;
}
.cang-le-header{
    top: 0px;
    border: 3px solid #8AC007;
}
.full{
    padding: 10px 0px 0px 0px;
}
.img-slider{
    width: 100%;
    height: 100%;
}
.list-danh-muc {
    padding-left: 0;
    margin-bottom: 20px;
    font-weight: 500;
}
.list-danh-muc li a {
    color: black;
    font-size: 13px;
}
.title-khuyen-mai {
    font-size: 23px;
    color: rgb(8, 106, 135);
    padding: 5px 0px 0px 0px;
    font-weight: bold;
}
.logo-thuong-hieu:hover{
    -moz-box-shadow: 0 1px 10px 0 rgba(0,0,0,.5);
    -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.5);
    -moz-transform: translate3D(0,-5px,0);
    -webkit-transform: translate3D(0,-5px,0);
    transform: translate3D(0,-5px,0);
    position: relative;
    z-index: 3;
    transition: all .3s ease 0s;
}
.btn-thuong-hieu {
    border: 2px solid #0354bd;
    background-color: #fff;
    color: #0354bd;
    font-weight: 600;
    border-radius: 4px;
    padding: 10px 10px;
}
.btn-thuong-hieu:hover {
    border: 2px solid #0354bd;
    background-color: #0354bd;
    color: #fff;
    font-weight: 600;
}
/*
* Item sản phẩm
*/
.anh-san-pham{
    width: 200px;
    height: 300px;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}
.ten-san-pham {
    margin-bottom: 2px;
    font-size: 18px;
    color: #000;
    text-align: center;
    word-wrap: break-word;
}
.gia-dong-ho{
    font-size: 14px;
    text-align: center;
    color: red;
    font-weight: bold;
}
.div-san-pham a{
    text-decoration: none;
}
.anh-san-pham:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* Kết thúc item sản phẩm*/
.tieu-de-box {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
}
.anh-box{
    height: 150px;
    width: 150px;
}
.footer-top .input-box input {
    background-color: #fff;
    color: #686865;
    height: 48px;
    border: none;
    font-size: 14px;
    padding-left: 15px;
    float: left;
    max-width: 630px;
    width: 90%;
    border-radius: 30px 0 0 30px;
    padding-right: 105px;
    margin-right: 22px;
}
.footer-top .input-box {
    width: 100%;
    max-width: 320px;
    float: left;
}
.logo-footer{
    margin: 5px 5px 5px 0px;
    height: 40px;
    width: 40px;
    border-radius: 30px;
}
.div-box {
    letter-spacing: -1px;
    background: #2E2E2E;
    padding: 35px 15px 35px 15px;
    height: 100%;
    margin: 15px 0px;
    width: 100%;
}
.anh-div-box img{
    box-shadow: 0px 10px 54px -5px rgba(0,0,0,0.75);
    width: 85%;
    margin: 35px 0px 35px 0px;
}
.title-div-box span{
    color: #fff;
    line-height: 2;
}
.div-tim-cititime input{
    padding: 10px 8px;
    border-radius: 0px;
    border: 1px solid #fff;
    color: #fff;
}
.div-tim-cititime div{
    background: #43D5B0;
    border-radius: 0px;
    padding: 10px 15px;
}
.btn-ma-khuyen-mai {
    border: 2px solid #fff;
    background-color: #2E2E2E;
    color: #fff;
    font-weight: 600;
    border-radius: 0px;
}
.div-footer{
    background: #007ee5;
    color: #fff;
    padding-bottom: 20px;
}
.lien-he{
    list-style-type: none;
    padding-top: 10px;
}
.lien-he li{
    padding-bottom: 15px;
}
.lien-he li p{
    font-weight: bold;
    font-size: 14px;
}
.lien-he li span{
    font-weight: bold;
    font-size: 12px;
    display: block;
}
.mang-xa-hoi{
    list-style-type: none;
    display: flex;
    padding-top: 20px;
}
.mang-xa-hoi li{
    padding-right: 10px;
}
.mang-xa-hoi li span{
    font-size: 25px;
}
/*Đánh giá khách hàng*/
.img-circle{
    border-radius: 50%;
}
.div-danh-gia-khach-hang{
    background: #fff;
    padding: 15px;
}
.div-danh-gia-khach-hang img{
    height: 150px;
    width: 150px;
}
.div-danh-gia-khach-hang b{
    font-size: 15px;
    padding: 10px;
    display: block;
    text-align: center;
}
/*Kết thúc đánh giá khách hàng*/
.w-12-5:hover{
    background: red;
}
.menu-mobile-right{
    display: none;
}
.search{
    width: calc(100% - 720px);
    position: relative;
    top: 2px;
}
.dao{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.logo-thuong-hieu{
    border: 1px solid #bdc3c7;
}
/*Trang san phjam chi tiet*/
.ten-san-pham-chi-tiet{
    font-weight: bold;
}
.list-mau{
    list-style-type: none;
    display: inline-flex;
}
.list-mau li{
    padding: 0px 5px;
    text-align: center;
}
.xem-them{
    width: 100px;
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 40px;
    font-size: 17px;
    color: #288ad6;
    margin: 10px auto;
    cursor: pointer;
}
.btn-dat-mua{
    padding: 10px;
    background: #ec971f;
    color: #fff;
    margin-top: 10px;
    width: 100%;
}
.anh-dai-dien-tin-tuc-moi{
    border-radius: 8px;
}
.div-tin-tuc-moi:hover .anh-dai-dien-tin-tuc-moi{
    -moz-box-shadow: 0 1px 10px 0 rgba(0,0,0,.5);
    -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.5);
    -moz-transform: translate3D(0,-5px,0);
    -webkit-transform: translate3D(0,-5px,0);
    transform: translate3D(0,-5px,0);
    position: relative;
    z-index: 3;
    transition: all .3s ease 0s;
}
.icon-slider{
    color: #fff;
    background: #000;
    padding: 10px;
    border-radius: 18px;
}
.noi-dung-khuyen-mai{
    font-size: 13px;
    margin: 0px;
}
.card{
    padding: 10px;
}
h1{ font-size: 22px; }
h2{ font-size: 20px; }
h3{ font-size: 18px; }
h4{ font-size: 16px; }
h5{ font-size: 14px; }
h6{ font-size: 12px; }
p {font-size: 13px; }
h1, h2, h3, h4, h5, h6, p{
    word-wrap: break-word;
    line-height: 26px;
    margin-bottom: 10px;
}
.sidebar-outer {
    margin-top: 150px;
    position: relative;
}
.anh-san-pham img{
    width: 200px;
    height: 300px;
}
.tin-tuc-moi{
    margin-bottom: 10px;
}
.tin-tuc-moi span{
    font-size: 13px;
}
.list-anh-san-pham{
    list-style-type: none;
    display: inline-flex;
}
.list-anh-san-pham li div{
    height: 60px;
    width: 60px;
    border: 1px solid #000;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
/*Ket thuc tartng san pham chi tiet*/

/* danh muc san pham*/
.list-danh-muc{
    list-style-type: none;
}
.list-danh-muc li a{
    font-size: 13px;
}
.mau{
    width: 25px;
    height: 25px;
    border-radius: 4px;
}
/* Ket thuc danh muc san pham*/
.list-danh-muc{
    list-style-type: none;
}
/* Bắt đầu tin tức */
.anh-cover{
    padding-bottom: 1rem;
    height: 260px;
    width: 349.984px;
    background: no-repeat 50% 50%/cover;
    display: block;
}
.nen-tieu-de-tin-tuc{
    padding: 2rem;
    color: #fff;
    background: linear-gradient(0deg,#000 0,transparent 100%);
}
.khung-tin-tuc{
    width: 393px;
    height: 201.344px;
}

.chu-tieu-de-tin-tuc{
    position: absolute;
    left: 15px;
    right: 15px;
    top: 5px;
    bottom: 0;
}
.padding-all-x1 {
    padding: 1rem;
}
.width-100 {
    width: 100%;
}
.bottom-x0 {
    bottom: 0;
}
.absolute {
    position: absolute;
}
.bg-text-gradiant {
    color: #FFFFFF;
    background: linear-gradient(0deg,#000 0,transparent 100%);
}
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 {
    font-weight: 700;
}
.h3, h3 {
    font-size: 1.4rem;
}
.tac-gia-tin-tuc{
    padding-bottom: 1rem;
    display: block;
    color: #666;
}
.gioi-thieu-tin-tuc{
    padding-bottom: 1rem;
    color: #333;
}

.list-danh-muc{
    list-style-type: none;
}
/*Tin tức chi tiết*/
.tag{
    padding: .3rem 1rem;
    margin: .3rem .5rem;
    white-space: nowrap;
    border-radius: .8rem;
    background: #f2f2f2;
    color: inherit;
    font-size: 14px;
    display: inline-table;
}
.padding-noi-dung-tin-tuc{
    padding:0 20px 0 0;
}
.padding-tin-tuc-chi-tiet{
    padding:0 0 0 60px;
}
.value {
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 40px;
    text-align: center;
    font-weight: normal;
    font-family: Verdana,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}
.price-range-both.value {
    width: 100px;
    margin: 0 0 0 -50px;
    top: 26px;
}
.price-range-both {
    display: none;
}

.value i {
    font-style: normal;
}

a:hover .b {
    opacity: 1;
    display:block;
    transition: opacity 0.2s linear 0s;
}
.b{
    z-index: 999;
    opacity: 0;
    display:none;
    transition: opacity 0s ease 0s, all 0s ease 0s, all 0s linear 0s;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    width: 240px;
    height: 240px;
    overflow: hidden;
    color: #fff;
}
.gioi-tinh li{
    margin-bottom: 15px;
}
.gioi-tinh li img {
    float: left;
    width: 32px;
}
.gioi-tinh li a{
    margin-left: 50px;
    display: block;
    height: 32px;
    line-height: 32px;
}
.tin-tuc-chi-tiet{
    padding-right: 30px;
}
.tin-tuc-chi-tiet p{
    font-size: 13px;
}

.sel-sap-xep{
    float: right;
    font-size: 13px;
    padding: 5px;
}
.sel-sap-xep option{
    font-size: 13px;
    padding: 5px 0px;
}
.ten-sap-xep{
    float: right;
    font-size: 13px;
    padding-right: 5px;
    height: 13px;
    line-height: 30px;
    display: block;
}
.list-danh-muc-thuong-hieu{
    list-style: none outside none;
    display: inline-table;
    width: 100%;
    text-align: center;
}
.list-danh-muc-thuong-hieu li{
    padding-right: 15px;
    display: inline-table;
}
.list-danh-muc-thuong-hieu li a {
    font-size: 13px;
}
/* Logo khuyến mãi */
.logo-khuyen-mai{
    background-color: #FFFFFF;
    height: 173px;
    width: 201.5px;
    display: block;
}
.logo-img-khuyen-mai{
    background-color: #FFFFFF;
    height: 120px;
    width: 150px;
    display: inline;
}
.img-khuyen-mai{
    border: 1px solid #333333;
    height: 120px;
    width: 150px;
}
.logo-vote-khuyen-mai{
    background-color: #FFFFFF;
    height: 50px;
    width: 199.5px;
    position: absolute;
    padding: 0px 0px 0px 45px;
}
.logo-nx-khuyen-mai
{
    padding: 0px 0px 0px 12px;
}
.tieu-de-khuyen-mai{
    background-color: #FFFFFF;
    height: 35px;
    color: #2aabd2;
}
.noi-dung-khuyen-mai{
    background-color: #FFFFFF;
    height: 50px;
}
.boder-right-khuyen-mai{
    border-right: 1px solid #f2f2f2;
}
.boder-left-khuyen-mai{
     border-left: 1px solid #f2f2f2;
 }
.loi-tat-khuyen-mai{
    background-color: #FFFFFF;
    height: 35px;
    display: block;
    font-size: 13px;
}
.muc-giam-khuyen-mai p{
    background-color: #FFFFFF;
    line-height: 50px;
    color: #ff6633;
    font-size: 35px;
    font-weight: 700;
}
.tieu-de-nd-khuyen-mai{
    background-color: #FFFFFF;
    height:26px;
    font-size: 12px;
}
.ul-khuyen-mai{
    list-style-type: none;
    display: inline-flex;
    font-weight: 700;
}
.ul-khuyen-mai li{
    padding-left: 10px;
    padding-right: 10px;
}
.noi-dung-giam-gia{
    background-color: #FFFFFF;
    height:90px;
    padding-left: 10px;
}
.noi-dung-giam-gia a{
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    display: block;
}
a.btn-khuyen-mai {
    display: inline-block;
    color: #FF531A;
    background-color: #eee;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
    width: 100%;
    text-align: center;
}

a.btn-khuyen-mai:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
}

a.btn-khuyen-mai:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
}
a.btn-khuyen-mai.btn-red-khuyen-mai {
    background-color: #FF531A;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
}

a.btn-khuyen-mai.btn-red-khuyen-mai:hover {
    background-color: #DA4F49;
    border-color: rgba(0,0,0,0.5);
}

a.btn-khuyen-mai.btn-red-khuyen-mai:active {
    background-color: #B32C24;
    border-color: rgba(0,0,0,0.9);
}
.btn-chi-tiet-khuyen-mai{
    background-color: #f2f2f2;
    width: 100%;
}
.btn-chi-tiet-khuyen-mai span{
    float:right;
    padding-right: 15px;
    padding-top: 5px;
}
.chi-tiet-khuyen-mai{
    background-color: #f2f2f2;
    width: 100%;
    padding: 5px 15px;
    display: none;
}
/* Kết thúc khuyến mãi */

/* Bắt đầu giỏ hàng */
.bang-gio-hang{
    border: 1px solid #eaeaea;
    border-left: 0px solid #FFFFFF;
    border-right: 0px solid #FFFFFF;
}
.ten-san-pham-gio-hang{
    height: 36px;
    display: block;
    text-align: left;
    color: #333333;
    margin: 0 0 5px 0;
    margin-bottom: 5px;
}
.ten-san-pham-gio-hang a{
    text-decoration: none;
    font-weight: 700;
    color: #333333;
}
.ten-san-pham-gio-hang a:hover{
    color: #761c19;
}
.trang-thai-san-pham-gio-hang{
    height: 36px;
    text-align: left;
    display: block;
    font-size: 12px;
    padding: 5px 5px 0px 0px
}
.so-luong-sp-gio-hang{
    text-align: center;
}
.input-gio-hang{
    width: 80px;
    text-align: center;
    height: 36px;
    display: inline-block;
    border: 1px solid #CCCCCC;
}
.chi-tiet-gio-hang{
    background-color: #EEEEEE;
}
.ma-km-gio-hang{
    height: 170px;
    width: 500px;
    float: left;
}
.btn-ma-km-gio-hang{
    background-color: #eaeaea;
    border: 1px solid #CCCCCC;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    width: 91px;
    height: 42px;
}
.btn-ma-km-gio-hang:hover{
    background-color: #4b5257;
    color: #FFFFFF;
}
.btn-giam-gio-hang{
    height: 36px;
    margin-right: -5px;
    margin-top: -1px;
    border-radius: 0;
}
.btn-tang-gio-hang{
    height: 36px;
    margin-left: -5px;
    margin-top: -1px;
    border-radius: 0;
}
.input-ma-km-gio-hang{
    background-color: #FFFFFF;
    width: 298px;
    height: 41px;
    padding: 6px 12px 6px 12px;
}
.input-ma-km-gio-hang:hover{
    border: 1px solid #2aabd2;
}
.input-ma-km-gio-hang:active{
    border: 1px solid #2aabd2;
}
.i-gio-hang{
    height: 75px;
    padding: 15px 0 0 15px;
}
.gia-gio-hang{
    padding: 15px 15px 0 0;
    float: right;
}
.thong-tin-kh-gio-hang{
    font-family: Arial;
    padding-left: 20px;
    color: #4b5257;
}
.thong-tin-kh-gio-hang h4{
    padding-left: 20px;
    color: #4b5257;
}
.gioi-tinh-kh-gio-hang{
    font-family: Arial;
    font-size: 14px;
    padding: 5px 0 0 20px;
    color: #888a85;
    width: 350px;
}
.thong-tin-cc-them-gio-hang{
    font-family: Arial;
    font-size: 14px;
    width: 350px;
    color: #888a85;
}
.hoa-don-cong-ty{
    display: none;
}
.thanh-toan-gio-hang{
    font-family: Arial;
    font-size: 13px;
    padding: 0 0 0 20px;
    display: none;
    width: 325px;
}
/* Kết thúc giỏ hàng */

.div-list-danh-muc{
    flex: 0 0 auto;
    margin: 10px 5px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 2px 3px #eee;
    transition: 150ms;"
}
.owl-nav  {
    display: none;
}

