.padding-noi-dung-tin-tuc{
    padding-top: 5px;
}
.div-tin-tuc-goi-y {
    margin-left: 0px;
}
.tin-tuc-moi{
    margin-bottom: 10px;
}
.tin-tuc-moi p{
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(8, 106, 135);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
}
amp-social-share {
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    background-size: 30px;
}
.tag {
    padding: .3rem 1rem;
    white-space: nowrap;
    border-radius: .8rem;
    background: #f2f2f2;
    color: inherit;
    font-size: 14px;
    display: inline-table;
    margin: 5px 5px 5px 0px;
}
.anh-dai-dien-tin-tuc-moi{
    width: 100%;
}
@media(min-width:  768px){
    .div-tin-tuc-goi-y{
        margin-left: 50px;
    }
}
.margin-bottom-5{
    margin-bottom: 5px;
}
.list-danh-muc-tin-tuc{
    list-style-type: none;
    margin-left: -40px;
}
.list-danh-muc-tin-tuc li{
    padding: 1.5rem 0px;
    border-bottom: 1px solid rgb(221, 221, 221);
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(8, 106, 135);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
}
.icon-right{
    width: 16px;
    height: 16px;
    float: right;
}
.tieu-de{
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    color: rgb(51, 51, 51);
}
.thong-tin-vai-viet small{
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(102, 102, 102);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    color: rgb(102, 102, 102);
}
.tin-tuc-chi-tiet p{
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 22px;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    background-repeat: repeat;
    color: rgb(51, 51, 51);
}
.tin-tuc-chi-tiet h2{
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
}
.tin-tuc-chi-tiet h3{
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    text-decoration: none solid rgb(51, 51, 51);
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
}