.padding-noi-dung-tin-tuc{
    padding-top: 5px;
}
.div-tin-tuc-goi-y {
    margin-left: 0px;
}
.tin-tuc-moi{
    margin-bottom: 10px;
}
.tin-tuc-moi span{
    font-size: 13px;
}
amp-social-share {
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    background-size: 30px;
}
.tag {
    padding: .3rem 1rem;
    white-space: nowrap;
    border-radius: .8rem;
    background: #f2f2f2;
    color: inherit;
    font-size: 14px;
    display: inline-table;
    margin: 5px 5px 5px 0px;
}
.anh-dai-dien-tin-tuc-moi{
    width: 100%;
}
@media(min-width:  768px){
    .div-tin-tuc-goi-y{
        margin-left: 50px;
    }
}
.margin-bottom-5{
    margin-bottom: 5px;
}

h1{ font-size: 22px; }
h2{ font-size: 20px; }
h3{ font-size: 18px; }
h4{ font-size: 16px; }
h5{ font-size: 14px; }
h6{ font-size: 12px; }
p {font-size: 14px; }
h1, h2, h3, h4, h5, h6, p{
    word-wrap: break-word;
    line-height: 26px;
    margin-bottom: 10px;
}

.list-danh-muc-tin-tuc{
    list-style-type: none;
    margin-left: -40px;
}
.list-danh-muc-tin-tuc li{
    padding: 1.5rem 0px;
    border-bottom: 1px solid #ddd;
    color: #000;
}
.icon-right{
    width: 16px;
    height: 16px;
    float: right;
}
.tieu-de{
    font-size: 28px;
}